{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Vultrデプロイ</title>
</head>
<body>
    <div class="m-3">
        <h1 class="mb-3">Vultrデプロイ update</h1>
        <a href="https://www.vultr.com/?ref=8606833-6G">
            <img src="https://www.vultr.com/media/banners/banner_800x418.png" width="800" height="418">
        </a>    
    </div>
</body>
</html>
